.page {
  @apply mt-10 px-2 phone:text-xl text-lg text-white;
  font-family: 'Roboto';
  font-weight: 500;
}

.main {
  @apply flex flex-col justify-center items-center;
  font-family: 'Roboto', sans-serif;
}
.profile {
  @apply bg-[#2A2A2D] phone:px-10 px-5 py-6 w-[100%] rounded-xl max-w-[525px] mt-10;
  border: 3px #5c469c solid;
  font-family: 'Roboto', sans-serif;
  transition: padding 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.header {
  @apply text-3xl;
}

.infoLine {
  @apply flex gap-4 justify-between;
}

.infoBox {
  @apply flex flex-col gap-6 my-10;
}

.nameInfo {
  @apply flex phone:min-w-[110px] min-w-[65px] text-left;
}

.buttonDiv {
  @apply flex justify-center items-center;
}

.button {
  @apply w-[100%] my-1 rounded-2xl border-0 text-white cursor-pointer h-12 text-lg hover:scale-105;
  font-family: 'Roboto', sans-serif;
  background: #5c469c;
}

.button:focus {
  outline: none;
}

.button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.loader {
  @apply flex justify-center items-center;
}

.loaderimg {
  @apply w-[200px] h-[200px];

  background-size: cover;
  background-image: url('../../../public/img/SpinnerF5.gif');
}

.infoCheck {
  @apply flex justify-center items-center gap-3;
}

.checkboxContainer {
  @apply flex justify-center items-center;
}

.checkbox {
  /* убираем стили */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  min-width: 26px;
  height: 26px;
  border-radius: 2px;

  background-color: #fff;
  background-image: url('../../../public/img/checkBox.svg');
  background-repeat: no-repeat;
  background-image: cover;
  background-size: 135%;
  background-position: center center;
  border: 3px #5c469c solid;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e2e8f0;
  }
  &:checked {
    background-image: url('../../../public/img/checkBoxActive.svg');
  }
}

.mainWatched {
  @apply bg-[#2A2A2D] p-5  rounded-xl max-w-[1200px] mt-14;
  border: 3px #5c469c solid;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.headerBlock {
  @apply text-2xl flex justify-center gap-3;
}

.bodyWatched {
  @apply w-full;
}

.tableWatched {
  @apply mt-9 flex justify-center items-start flex-wrap w-full;
}
