.form {
  @apply bg-[#2A2A2D] p-6 w-[100%] rounded-xl max-w-[400px] mt-10 text-xl;
  border: 3px #5c469c solid;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.formBox {
  @apply flex flex-col gap-6 justify-center;
}

.userInfo {
  @apply flex flex-col gap-5 justify-center items-center;
}

.mail {
  @apply flex flex-col items-start;
}

.input {
  @apply w-[100%] rounded-lg h-12 px-5 py-2 text-black;
  border: 3px #5c469c solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.mailCheck {
  @apply flex justify-start items-center;
}

.labelCheckBox {
  @apply phone:text-base text-sm max-w-[270px];
}
.checkbox {
  /* убираем стили */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  min-width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 2px;

  background-color: #fff;
  background-image: url('../../../public/img/checkBox.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px #5c469c solid;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e2e8f0;
  }
  &:checked {
    background-image: url('../../../public/img/checkBoxActive.svg');
  }
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.button {
  @apply w-[100%] my-2 mt-4 rounded-2xl border-0 text-white cursor-pointer h-12 text-lg hover:scale-105;
  font-family: 'Roboto', sans-serif;
  background: #5c469c;
}

.button:focus {
  outline: none;
}

.button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.buttonDiv {
  @apply flex justify-center items-center;
}
