.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
}

.h {
  @apply h-20;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  box-sizing: border-box;
}

.footer::before,
.footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.footer::before {
  left: 0;
  background: #8524a7;
}

.footer::after {
  right: 0;
  background: #8524a7;
}
