.page {
  @apply mt-10 px-2 phone:text-lg text-sm;
  font-family: 'Roboto';
  font-weight: 500;
}

.loader {
  @apply flex justify-center items-center;
}

.loaderimg {
  @apply w-[200px] h-[200px];

  background-size: cover;
  background-image: url('../../../public/img/SpinnerF5.gif');
}

.imgAndInfo {
  @apply flex justify-center items-center gap-6 text-white flex-wrap lg:flex-nowrap;
}

.img {
  @apply phone:w-64 w-52 rounded-lg;
  min-width: 150px;
  border: 3.5px #5c469c solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.imgSet {
  @apply w-64;
}

.name {
  @apply phone:text-3xl  text-2xl mb-3;
}

.header {
  @apply phone:text-2xl text-xl;
}

.info {
  @apply flex flex-col justify-start phone:gap-5 gap-3 bg-[#2A2A2D] rounded-lg px-5 py-2.5 sm:px-10 sm:py-5;
  border: 3px #5c469c solid;
  transition: gap 0.3s ease;
  transition: padding 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.infoLine {
  @apply flex justify-start items-center phone:gap-16 md:gap-24 gap-5;
  transition: gap 0.3s ease;
}

.nameInfo {
  @apply flex text-gray-400;
  min-width: 142px;
}

.valInfo {
  @apply flex max-w-[300px] phone:max-w-full;
  text-align: left;
}

.boxUser {
  @apply flex justify-center items-center md:gap-20 sm:gap-10 gap-6 mb-2 sm:flex-row flex-col;
  transition: gap 0.3s ease;
}

.save:hover {
  filter: brightness(300%);
}

.unsave:hover {
  filter: brightness(300%);
}

.save {
  background-image: url('../../../public/img/clickToSave.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 100%;
  height: 46px;
  width: 46px;
}

.unsave {
  background-image: url('../../../public/img/clickToUnsave.svg');
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 46px;
  width: 46px;
}

.func {
  @apply flex flex-col items-center;
}

.star {
  background-image: url('../../../public/img/purpleStar.svg');
  background-size: 100%;
  background-size: cover;
  cursor: pointer;
  @apply phone:w-10 phone:h-10 md_ph:w-8 md_ph:h-8 w-7 h-7;
}

.filled {
  background-image: url('../../../public/img/yellowStar.svg');
}

.movieUserRating {
  cursor: pointer;
  background-size: 100%;
  height: 46px;
  @apply flex items-center justify-center phone:text-base md_ph:text-sm text-[13px] text-center md:w-[480px] phone:w-[400px] md_ph:w-[320px] w-[280px] md:gap-2;
  transition: gap 0.3s ease;
}

.val {
  @apply flex justify-center items-center phone:mt-2.5 md_ph:mt-2 mt-1.5;
}

.hovered {
  background-image: url('../../../public/img/yellowStar.svg');
}

.comment {
  @apply mt-16 flex flex-col justify-start items-start gap-3 text-white flex-wrap lg:flex-nowrap sm:px-10 px-2;
  transition: padding 0.3s ease;
}
.headerComment {
  @apply phone:text-3xl  text-2xl;
}
.bodyComment {
  @apply flex flex-col w-[100%];
}

.tableComments {
  @apply grid gap-4 min-w-[200px] max-w-[1280px] flex-wrap w-full mt-5 grid-cols-1;
  align-content: start;
}

.buttonWrite {
  @apply w-32 my-4 rounded-2xl border-0 text-white cursor-pointer h-12 text-sm hover:scale-105 flex justify-center items-center;
  font-family: 'Roboto', sans-serif;
  background: #5c469c;
}

.buttonWrite:focus {
  outline: none;
}

.buttonWrite:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.textCommentBox {
  @apply bg-[#2A2A2D]
  max-w-[1200px] min-w-[200px] min-h-[100px] w-[fit] h-24 rounded-xl px-5 py-2;
  border: 3px #5c469c solid;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.buttonsGaps {
  @apply flex gap-10;
}
