.header {
  @apply flex items-center justify-between text-white h-20 sm:px-10 relative phone:px-5 pl-3 pr-5 gap-4 phone:gap-6 sm:gap-12;
  background: #5c469c;
  width: 100vw;
  max-width: 1280px;
  position: fixed;
  z-index: 10;
  height: 80px;
  transition: gap 0.3s ease;
  transition: padding 0.3s ease;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.headerHidden {
  transform: translateY(-500%);
  transition: transform 0.5s ease-in-out;
}

.header::before,
.header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}

.header::before {
  left: 0;
  background: #5c469c;
}

.header::after {
  right: 0;
  background: #5c469c;
}

.headerTitle {
  @apply font-semibold text-xl phone:text-2xl sm:text-3xl leading-3 phone:ml-2  text-white;
  font-family: 'Roboto';
}

.listHeader {
  @apply flex justify-center items-center font-medium text-base sm:text-lg lg:text-xl md:gap-12 sm:gap-7 lg:gap-16 phone:gap-4 gap-2.5;
  font-family: 'Roboto';
  list-style-type: none;
  flex-wrap: nowrap;
  transition: gap 0.3s ease;
}

.searchContainer {
  flex-grow: 1;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header li.active {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 8px;
}

.header li:hover {
  @apply text-gray-400;
}

.profileIcon {
  background-image: url('../../../public/img/profileIcon.svg');
  @apply sm:w-8 sm:h-8 phone:w-7 phone:h-7 w-6 h-6 bg-auto bg-no-repeat bg-cover;
}
.profileIcon:hover {
  background-image: url('../../../public/img/profileIconHover.svg');
}

.search {
  background-image: url('../../../public/img/search.svg');
  @apply sm:w-8 sm:h-8 phone:w-7 phone:h-7 w-6 h-6  bg-auto bg-no-repeat bg-cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.search:hover {
  background-image: url('../../../public/img/searchHover.svg');
}
