.header {
  @apply flex items-center justify-between text-body_bg h-20 phone:px-10 relative px-5 gap-4 phone:gap-12;
  background: #8524a7;
  width: 100vw;
  max-width: 1280px;
  position: fixed;
  z-index: 10;
  height: 80px;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  opacity: 0.9;
}

.headerHidden {
  transform: translateY(-500%);
  transition: transform 0.5s ease-in-out;
}

.header::before,
.header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}

.header::before {
  left: 0;
  background: #8524a7;
}

.header::after {
  right: 0;
  background: #8524a7;
}

.headerTitle {
  @apply font-semibold text-2xl sm:text-3xl leading-3 ml-2  text-white;
  font-family: 'Roboto';
}

.listHeader {
  @apply flex justify-center items-center font-medium text-lg lg:text-xl sm:gap-12 phone:gap-7 lg:gap-16 gap-4;
  font-family: 'Roboto';
  list-style-type: none;
  flex-wrap: nowrap;
  transition: gap 0.3s ease;
}

.searchContainer {
  flex-grow: 1;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header li.active {
  @apply text-black;
}

.header li:hover {
  @apply text-gray-400;
}

.profileIcon {
  background-image: url('../../../public/img/profileIcon.svg');
  @apply w-8 h-8 bg-auto bg-no-repeat bg-cover;
}
.profileIcon:hover {
  background-image: url('../../../public/img/profileIconHover.svg');
}

.search {
  background-image: url('../../../public/img/search.svg');
  @apply w-8 h-8 bg-auto bg-no-repeat bg-cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.search:hover {
  background-image: url('../../../public/img/searchHover.svg');
}
