.page {
  @apply mt-10 px-2 phone:text-2xl text-lg text-white;
  font-family: 'Roboto';
  font-weight: 500;
}

.choose {
  @apply flex justify-center gap-10;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-underline-offset: 10px;
}

.choosing {
  @apply flex justify-center;
}
